# Dependencies
node_modules
/.pnp
.pnp.js

# Environment
.env*
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
# environment.d.ts
# next-env.d.ts

# Develop Tools & Configs
.husky
.storybook
.vscode
# .babelrc
.eslintignore
.eslintrc.json
.prettierrc.json
jest.config.js
jest.setup.ts
lint-staged.config.js

# Testing
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git & Docker
.git
.gitignore
.dockerignore
Dockerfile*

# Build
/build
/out/
*.tsbuildinfo
.next
!.next/static
!.next/standalone

# Vercel
.vercel

# Misc
*.pem
README.md
_memo.txt
/reusable_files
