# Dependencies
/node_modules
/.pnp
.pnp.js

# Environment
.env
.env.example

# Testing
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
/build
dist
*.tsbuildinfo

# Misc
*.pem
.vscode
_memo.txt
